body {
    font-family: "Arvo", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", sans-serif;
    margin: 0 1rem;
}

article {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #000;
    text-decoration: none;
}

h2 {
    padding-top: 1rem;
}

a:hover {
    text-decoration: underline;
}

.post-ads {
    margin: 50px 0;
}

/* overwrite github-markdown */
.markdown-body {
    font-size: 18px;
}

.markdown-body .highlight pre, .markdown-body pre {
    font-size: 14px;
}

/* header */
.site-title {
    font-size: 3rem;
    margin-top: 32px;
}

.site-date-catalog {
    font-size: 2rem;
}

.signatures {
    font-family: "Arvo", sans-serif;
    font-weight: 600;
}

.signatures a {
    text-decoration: none;
}

.header-line {
    width: 100%;
    border-width: 3px;
    border-color: #000;
    border-style: solid none none none;
    margin: 18px 0;
}

.lang-switch {
    font-weight: 600;
}


/* posts list */

#posts-list {
    min-height: 70%;
}

.posts-date,
.posts-title {
    font-size: 1.2rem;
}

.posts-line {
    margin: 12px 0;
}

.posts-categories {
    font-size: 0.8rem;
    margin: auto;
    text-align: center;
}

.posts-category {
    padding: 3px;
    border: #000 2px solid;
    margin-bottom: 3px;
}

.site-footer {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 12px 0;
    border-width: 3px;
    border-top: solid;
    border-color: #000;
}

.site-footer-item {
    margin-right: 12px;
}


/* post */


@media screen and (max-width: 48em) {
    .posts-category {
        display: none;
    }
}

.post-content img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
}

.post-header {
    margin-bottom: 55px;
}

.post-title {
    font-size: 2.5rem;
    font-weight: 600;
}

.post-category {
    display: inline;
    font-weight: 900;
    padding: 2px;
    border: #000 2px solid;
}

.post-date {
    font-weight: 800;
    font-style: italic;
}

.post-author {
    float: right;
    font-weight: 600;
}

.page-content {
    min-height: 60%;
}

.post-content {
    margin-bottom: 50px;
}

.post-content p {
    hyphens: auto;
    line-height: 1.8;
    margin-bottom: 1em;
}

/* taxonomy */
.taxonomy-term {
    font-size: 3rem;
}

/* gallery */
.gallery-img {
    text-align: center;
}

.gallery-img span {
    text-align: center;
}

.gallery-img-desc {
    font-size: 0.8em;
    font-weight: 800;
}
