<div class="site-footer">
  <div class="site-footer-item">
    <a href="/posts/">Tech</a>
  </div>

  <div class="site-footer-item">
    <a href="/car/">Car</a>
  </div>


  {{ range .Site.Params.socials }}
  <div class="site-footer-item">
    <a href="{{ .link }}" target="_blank">{{ .name }}</a>
  </div>
  {{ end }}
</div>

<div class="disclaimer">
  <strong>&copy; Alex Reid 2022&nbsp;</strong>
  <br/>
{{ if .IsHome }}
  <pre>Revision: {{ .Site.Params.rev }}</pre>
{{ end }}
</div>
{{ template "_internal/google_analytics.html" . }}
