<div class="site-footer">
    <div class="site-footer-item">
      <a href="/about/">About</a>
    </div>
  {{ range .Site.Params.socials }}
  <div class="site-footer-item">
    <a href="{{ .link }}" target="_blank">{{ .name }}</a>
  </div>
  {{ end }}
</div>

<div class="disclaimer">
  <strong>&copy; Alex Reid 2021.</strong>
  <em>Nothing published here represents the views of current or former employers.</em>
  <br/>
{{ if .IsHome }}
  <pre>Revision: {{ .Site.Params.rev }}</pre>
{{ end }}
</div>
{{ template "_internal/google_analytics.html" . }}
